@function convert($px) {
    $parentWidth: 1920;
    $result: 100 / $parentWidth * $px;
    @return $result+vw;
}

@function unconvert($px) {
    $parentWidth: 1920;
    $dotherWidth: 1200;
    $x: 100 / $parentWidth * $px;
    $result: $x * $dotherWidth / 100;
    @return $result+px;
}