@media(max-width: 1280px) {
    .fudi-app {
        &__inner {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
        &__leftside {
            grid-row: 2 / 3;
            text-align: center;
        }
    }
}

@media(max-width: 800px) {
    .reviews__slider {
        height: 380px;
    }
    .reviews__inner .swiper-horizontal>.swiper-pagination-bullets,
    .reviews__inner .swiper-pagination-bullets.swiper-pagination-horizontal,
    .reviews__inner .swiper-pagination-custom,
    .reviews__inner .swiper-pagination-fraction {
        bottom: 20px;
    }
}

@media(max-width: 630px) {
    .fudi-app__leftside img {
        width: 100%;
    }
    .fudi-app__rightside {
        padding-top: 0;
    }
    .footer__inner {
        grid-auto-flow: row;
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 480px) {
    .first-window__subtitle {
        font-size: 24px;
    }
    .first-window__title {
        font-size: 60px;
    }
    .benefits {
        padding: 50px 40px;
        &__inner {
            grid-template-columns: repeat(auto-fill, 300px);
        }
    }
}